.footerContainer{
    position: relative; 
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  
}
.footer-blur{
    width: 40rem;
    height: 40rem;
    top: 0;
    left:25rem;
}
.socialLisks{
    display: flex;
    gap:3rem;
    padding-top: 2rem;
    cursor:pointer
}
.socialLisks>img{
    width: 2rem;
    height: 2rem;
}
.footer>img{
    max-width: 10rem;
    cursor:pointer
}